@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --fc-today-bg-color: #d6e7fc;
}

.fc .fc-toolbar-title {
  display: none !important;
}

.fc .fc-toolbar {
  justify-content: left !important;
}

.fc .fc-button-primary {
  background-color: #3b82f6;
  border: #1d4ed8;
}

.fc .fc-button-primary:hover {
  background-color: #1d4ed8;
}

.fc .fc-button-primary:active {
  background-color: #1d4ed8;
}

.fc .fc-button-primary:disabled {
  background-color: gray;
}

/* 土曜日の背景 */
.fc-day-sat {
  background-color: #f0f0f0 !important;
}

/* 日曜日の背景 */
.fc-day-sun {
  background-color: #f0f0f0 !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
